*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.App {
  background-image: url('./bodybeer.jpeg');

  background-size: contain;
  background-repeat: no-repeat;
  text-align: center;
}

/* --------------Headers and HEROES--------------- */
header{
  display: flex;
  flex-direction: column;
 
  justify-content:space-between;
  min-height: 6rem;
  font-size: 1.5rem;
  color: white;
  background-image: url('./herobeer.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: center;
  flex-wrap: wrap;
  
}

.loginBanner {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  margin: 01.5rem;
}

.loginBanner>form>label {
  margin-right: 1rem;
}

h1 {

  text-align: center;
  font-size: 10vh;
  margin: 3rem 0rem 3rem 7rem;
  flex-wrap:nowrap;

  
}


/* --------------BUTTON BAR ----FEATURE AND MAIN--------------- */
.ButtonBar {
  background-color: rgba(240, 248, 255, 0.294);
  display: flex;
  flex-direction: row;
  height: 4rem;
  /* place-items: center; */
  align-items: center;
  justify-content: space-between;
  padding: 0rem 20rem;
}

.randomBeer {
  overflow-y: scroll;
  border-radius: 20px 8px 8px 20px;
  margin: 2rem 3rem;
  background-image: url('./confetti.gif');
  background-color: khaki;
  height: 80px;
  place-items: center;
  justify-items: center;
  align-items: center;
  justify-content: space-between;

  font-weight: 2000;
  font-size: 50px;
  color: #f5d300;
  padding: 2rem;
}
.overflow{
 max-height:initial;
  overflow-y: scroll;
 
}
.MainField {
  background-color: rgba(240, 248, 255, 0.294);
  border-radius: 20px 8px 8px 20px;
  margin: 2rem 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2rem;
  
}

/* ---------------- ELEMENTS ----------------------*/
button {
  font-weight: 800;
  font-size: 15px;
  color: #f5d300;

  min-width: 100px;
  margin: 0 3px 0 0;
  padding: 10px 16px;
  display: inline-block;

  background: transparent;
  background-color: #f5d4006c;

  border-color: #f5d300;
  border: 3px;
  border-radius: 20px 8px 8px 20px;
  border-radius: 8px;
}

button:hover {
  border-color: #6b5f0d;
  color: #050504;
  background-color: #f5d300;
}

.App-link {
  color: #61dafb77;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ------------------Cards--------------------- */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.555);
  background-color: rgba(255, 228, 196, 0.342);
  transition: 0.3s;
  width: 20%;
  justify-content: space-between;
  border-radius: 20px 8px 8px 20px;
  border-radius: 8px;
  margin: 1rem;
}

.resize {
  width: 200px;
  height: auto;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 2px 16px;
  
}
